* {
    padding:10px;
}

body {
    background-image: linear-gradient(80deg, #fccb90 0%, #d57eeb 100%);
}

h1 { font-weight: bold;
    color: white;
    padding: 0px; 
    font-family: 'Playfair Display', serif;
    text-align: center;
}

.centering {
    align-items: center;
    display: flex;
    justify-content: center;
    color:white;
    font-family: 'Roboto', sans-serif;
}

.avatar {
    align-items: center;
    display: flex;
    justify-content: center;
    height: auto;
}

.avatar__image {
    justify-content: center;
    align-items: center;
    height: auto;
    width: 100%;
    max-width: 100px;
    border-radius: 50%;
}

.white_box {  
    background-color: white;
    height: auto;
    max-width: 100%;
    border: 20px solid white;
    padding-top: 10px;
    padding-bottom: 10px;
    padding-left: 30px;
    padding-right: 30px;
    margin-top: 5px;
    margin-bottom: 5px;
    margin-left: 5px;
    margin-right: 5px;
    font-family: 'Roboto', sans-serif;
}

.texto {
    max-width: 100%;
    height: auto;
}
